### MAKE OUTPUT ###
/src/*.i
/src/*.o
/src/*.s
/srs/*

/regression/*.log
/regression/*.run
/regression/*.s
/regression/*
/regression/deep-expressions
/regression/expressions
/regression/orig

/runtime/*.o

### IDEA CONF ###
.idea